:root{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    --primary: #04BF00;
    --darker: #333333;
    --dark: #6F6F6F;
    --shaded:#D4D4D4;
    --lighter: #FFFFFF;
    --light: #F3F4F3;
    --error: #E64848;
    --red: #FF1E00;
    --gold: #E6B325;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--light);
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0px;
    margin: 0px;
    
}

h1,h2,h3,h4,h5,h6{
    color: var(--darker);
}

p{
    color: var(--dark);
}

.card{
    background-color: var(--lighter);
    border-radius: 10px;
    border: var(--shaded) solid 0.5px;
}

.button{
    padding: 10px 30px;
    font-size: medium;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    color: var(--lighter);
    background-color: var(--primary);
}

.container{
    padding: 0px 20px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}

.gap10{
    gap: 10px;
}

.gap20{
    gap: 20px;
}

.gap30{
    gap: 30px;
}

.gap40{
    gap: 40px;
}

.gap50{
    gap: 50px;
}

.padding10{
    padding: 10px;
}

.padding20{
    padding: 20px;
}

.width100{
    width: 100%;
}

.width75{
    width: 75%;
}

.width50{
    width: 50%;
}

.height100{
    height: 100%;
}

.height75{
    height: 75%;
}

.height100{
    height: 100%;
}

.height25{
    height: 25%;
}

.primary{
    color: var(--primary);
}

.red{
    color: var(--red);
}

.gold{
    color: var(--gold);
}

.dark{
    color: var(--dark);
}

.darker{
    color: var(--darker);
}

.shaded{
    color:var(--shaded);
}

.light{
    color: var(--light);
}

.lighter{
    color: var(--lighter);
}

.bg-primary{
    background-color: var(--primary);
}

.bg-red{
    background-color: var(--red);
}


.bg-gold{
    background-color: var(--gold);
}

.bold{
    font-weight: bold;
}

.f-medium{
    font-size: medium;
}

.f-large{
    font-size: large;
}

.f-xlarge{
    font-size: x-large;
}

.f-xxlarge{
    font-size:xx-large;
}

.icon-smaller{
    width: 16px;
    height: 16px;
}

.icon-small{
    height: 26px;
    width: 26px;
}

.icon-medium{
    height: 32px;
    width: 32px;
}

.icon-large{
    height: 48px;
    width: 48px;
}

.icon-xlarge{
    height: 64px;
    width: 64px;
}

.gold{
    color: var(--gold);
}




/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

nav{
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav h2 a{
    text-decoration: none;
    color: var(--darker);
}

nav ul li a{
    color:var(--darker);
    text-decoration: none;
    
}

hr{
    border-top: 1px solid var(--shaded);
    margin: 15px 0px;
}

.nav-bar .active{
    background-color: var(--primary);
    color: var(--lighter);
    padding: 10px 20px;
    border-radius: 50px;
}

.top-image{
    margin: auto;
    display: block;
    width: 1200px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.head-line{
    width: 1200px;
    margin: auto;
    background-color: var(--darker);
    border-radius: 10px;
}

.head-line h2{
    color: var(--lighter);
    padding: 20px 50px;
    text-align: center;
    font-style: italic;
}


.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    padding: 40px 80px;
    width: fit-content;
    margin: auto;
    border: var(--shaded) 0.5px solid;
    background-color: var(--lighter)

}

.auth-form h2{
    width: 100%;
    display: block;
    color: var(--dark);
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.input-field{
    display:flex;
    flex-direction: column;
    gap: 6px;
}

.input-field label{
    color: var(--dark);
}

.input-field input,textarea{
    padding: 10px 20px;
    font-size: medium;
    border-radius: 4px;
    border: 1px solid var(--dark);
    outline: none;
    color: var(--darker);
}

.checkbox-field{
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-field label{
    color: var(--dark);
}

.checkbox-field input{
   width: 20px;
   height: 20px;
}

.auth-btn{
    display: flex;
    justify-content: stretch;
    padding: 10px 50px;
    font-size: medium;
    border-radius: 20px;
    border: none;
    color: var(--lighter);
    background-color: var(--primary);
}


.input-error{
    color: var(--error);
}

.auth-form .else{
    color: var(--dark);
    margin-top: 5px;
}

.auth-form .else a{
    color: var(--primary);
    text-decoration: none;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 2px;
    border: 5px solid var(--primary);
}

.user-details-card{
    max-width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
}

.user-details-card .details-view{
    display: flex;
    gap: 30px;
}

.user-details-card .details-view .text-view h2{
    padding: 0;
    margin: 0;
}

.user-details-card .details-view .text-view{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.user-details-card .details-view .text-view a{
    text-decoration: none;
    color: var(--primary);
}

.event-form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 30px;
    padding: 20px 40px;
    margin: auto;
    border-radius: 10px;
    border: var(--shaded) 0.5px solid;
    background-color: var(--lighter)
}

.event-form h2{
    color: var(--darker);

}

.event-form .row{
    display: flex;
    gap: 100px;
}

.event-form .auth-btn{
    margin-left: auto;
}


.event-form .column{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ticket-input-field{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: var(--shaded) 0.5px solid;
    justify-content:space-between;
}

.ticket-input-field .ticket-inputs{
    display: none;
    gap: 10px;

}

.ticket-input-field .input-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.events-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.event-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 0.5px solid var(--shaded);
    border-radius: 10px;
    background-color: var(--lighter);
}

.event-card h2, p, h4, a{
    color: var(--darker);
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.event-card p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-card .details{
    padding: 20px 20px;

}

.event-card img{
    width : 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.entrance-details{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
}

.entrance-methods{
    font-weight: bold;
    font-size: large;
}
.free{
    color: var(--primary);
}

.generalAdmission{
    color: var(--generalAdmission);
}

.vipPass{
    color: var(--vip);
}

.event-card .info{
    display: flex;
    gap: 20px;
    color: var(--darker);
}

.icon-text{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-text .icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.event-top-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.buy-btn{
    display: flex;
    justify-content: stretch;
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    color: var(--lighter);
    
}

.vip-btn{
    background-color: var(--vip);
}

.general-btn{
    background-color: var(--generalAdmission);
}

.ticket{
    width: 1000px;
    height: 250px;
    background-color: var(--lighter);
}

.ticket .event-image{
    width: 750px;
    height: 250px;
    object-fit: cover;
}

.ticket .qr{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
}

.trans-container{
    background-color: var(--darker);
    opacity: 0.8;
    width: 750px;
    height: 40px;
    left: 0;
    bottom: 0;
}

.qr img{
    width:90%;
    height:90%;
    object-fit: cover;
}

.ticket .type{
    right: 270px;
    bottom: 3px;
}

.ticket .event-title{
    bottom: 0px;
    left: 0px;
    padding: 3px 20px;
    color: var(--primary);
    font-size: 28px;
    font-weight: bold;
}

.ticket .icon-text{
    font-size: 28px;
}

.ticket .icon{
    width: 30px;
    height: 30px;
}

.welcome-view{

}

.welcome-view img{
    width: 100%;
    height: 420px;
    object-fit: cover;
}

@media (max-width: 1000px) {
    .events-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 412px) {
    .events-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
